@charset "UTF-8";
footer{
    
    background-color: rgb(59, 59, 59);
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: rgb(255,255,255);
    text-align: center;
    position: relative;
    float : left;
}